.temperature-container{
  background-color: var(--light-gray);
  border-radius: 12px;
  width: 14rem;
  height: 10rem;
  border: 3px solid var(--light-gray);
  padding: 0.6rem;
}
.temperature-title{
  color: var(--black);
  font-size: 1.5rem;
  font-weight: bolder;

}
.info-container{
  display: flex;
  justify-content: center;
  margin-top: 1.2rem;

}
.current-temperature{
  border-radius: 50%;
  background-color: var(--purple);
  width: 5.2rem;
  height: 5.2rem;
  padding: 1.1rem;
  font-weight: 700;
  font-size: 2.35rem;
  color: var(--white);
  margin-right: 1rem;
  text-align: center;
 
}
.current-temperature >div{
  display: flex;
  flex-direction: row;
  width: 4rem;
}

.ranges{
  width: 6rem;
  font-size: 1.5rem;
  font-weight: var(--weight-600);
  color: var(--grey);
}
.high{
  display: flex;
  gap: 0.8rem;
  border-bottom: 1px solid var(--grey);
  margin-bottom: 0.5rem;
 
}
.low{
  display: flex;
  gap: 0.8rem;
  
}
.celcius{
  font-family: 'Rota'sans-serif;
  font-size: 1rem;
}
img{
  width: 12px;
  height: 20px;
  margin-top: 0.5rem;
}